$green: #27ae60;
$darkGreen: #219150;
$black: #444;
$lightBlack: #666;
$white: #ffffff;
$border: .1rem solid rgba(0, 0, 0, .1);
$boxShadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$borderHover: .1rem solid var(--black);
